@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* navigation or nav-bar styles */

.nav-bar, .nav-bar ul, .title{
  font-family: 'Azeret Mono', monospace;
  list-style-type: none;
  display: flex;
  padding: 0;
  /* justify-content: space-evenly; */
}

.nav-bar ul, .title, .nav-bar li{
  flex: 1;
  text-transform: uppercase;
  text-align: center;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.title h2{
  margin:auto;
  margin-left:10%
}
